<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/logo.jpg" alt="..." height="900px"
                width="400px" /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light"> Ranked 5 by Amar Ujala and IMRB International Education Survey</h1>
            <p>
                <b>NAAC ACCREDITED </b> <br>
                NAAC Accredited & ISO 9001:2000 Certified Institute <br>
                <b>25+ INSTITUTIONAL MEMBERSHIP</b> <br>
                25+ Institutional membership with companies to impart high-end training <br>
                <b>HIGHEST PACKAGE OFFERED</b> <br>
                Highest package offered 37 Lakhs PA

            </p>
            <a class="btn btn-primary" href="#!">Explore Courses</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0" style="font-size: x-large;">MANGALMAY IS ONE OF THE BEST COLLEGE IN DELHI NCR FOR
                MBA, B.TECH, BBA AND BCA.</p>
        </div>
    </div>