<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">MBA (Master of Business Administration)</h2>
                <p class="card-text">Mangalmay Institutions offers a two year full time Masters in Business
                    Administration (MBA) Program is affiliated to Dr. A.P.J. Abdul Kalam Technical University , Lucknow
                    (formerly, Uttar Pradesh Technical University) and approved by AICTE, Ministry of HRD, New Delhi.
                </p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm"
                    href="https://www.mangalmay.org/mba-in-delhi-ncr.html">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">B.Tech (Bachelor of Technology)</h2>
                <p class="card-text">Mangalmay Institute of Engineering and Technology offers career options in: <br>
                    1) B.Tech. in Computer Science & Engineering <br>
                    2) B.Tech. in CSE - Artificial Intelligence* <br>
                    3) B.Tech. in CSE - Data Science*</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm"
                    href="https://www.mangalmay.org/best-btech-college-in-india.html">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">BCA (Bachelor in Computer Application)</h2>
                <p class="card-text">Comprises of the subjects like database, networking, data structure, core
                    programming languages like 'C' and 'java'. This course provides a lot of opportunities to the
                    students who are interested in computer field and wants to work in the IT sector as programmer or
                    software developer.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.mangalmay.org/bca.html">More
                    Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">BBA (Bachelors of Business Administration)</h2>
                <p class="card-text">Mangalmay Institutions offers a three years full time Bachelors in Business
                    Administration (BBA) affiliated to CCS University, Meerut, since year 2002. This three year
                    Bachelors degree provides a holistic development of students that encompasses academic knowledge,
                    managerial and business skills like critical thinking, decision-making and global social skills.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm"
                    href="https://www.mangalmay.org/best-management-institute.html">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">B.Com (Bachelor of Commerce)</h2>
                <p class="card-text">Mangalmay Institute of Management & Technology offers B.Com. program with following
                    Certifications:

                    * Certification in GST <br>
                    * Certification in e-commerce <br>
                    * Certification in Banking & Finance <br>
                    * Certification in Tally & HR</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm"
                    href="https://www.mangalmay.org/bachelor-of-commerce.html">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">B.A. B.Ed (Bachelor of Arts and Bachelor of Education)</h2>
                <p class="card-text">B.A. B.Ed. is a four year integrated programme which aims at integrating general
                    studies in arts and professional studies in education. This programme is essentially a timesaving
                    dual-degree programme that enables a student to earn a Bachelors degree in Arts (B.A.) discipline as
                    well as a Bachelors degree in Education (B.Ed.). </p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.mangalmay.org/ba-bed.html">More
                    Info</a></div>
        </div>
    </div>
</div>


<div class="cdrd text-white my-0 py-0 text-center">
    <div class="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7dw7MHkZ1Ok" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>

<div class="card-body" id="youtube">
    <p class="text-white m-0" style="font-size: x-large; text-align: center;">
        <a href="https://www.youtube.com/c/MangalmayOrg">
            <img class="img-fluid rounded mb-0 mb-lg-=0" src="assets/ytube.png">
        </a>
        <br>
    <h4>Check Out Our YouTube Channel for Technical Videos and Tutorials </h4>

</div>