<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">Mangalmay Group of Institutions</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <nav>
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </nav>
                </li>
                <li class="nav-item"><a class="nav-link" href="/MyClg-Website/src/app/components/intro/">About</a></li>
                <li class="nav-item">
                    <nav>
                        <a class="nav-link" href="/MyClg-Website/src/app/components/contact/contact.component.html"
                            routerLink="/contact" routerLinkActive="active">Contact</a>

                    </nav>
                </li>

                <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
            </ul>
        </div>
    </div>
</nav>